In [26]:
import os
import json
import pandas as pd
import csv
import math

In [34]:
emotion_dict = {"中性":0,"正面":1,"负面":2}

In [35]:
with open("XiEMO1.csv","w",newline = "",encoding="utf-8") as csvfile:
    fieldNames = ['emotion','text','content']
    writer = csv.DictWriter(csvfile, fieldnames=fieldNames)
    writer.writeheader()
    for line in open("XiEMO1.txt", encoding="utf-8"):
        data = json.loads(line)
        data['emotion'] = emotion_dict[data['emotion']]
        writer.writerow(data)

In [31]:
df1 = pd.read_csv('XiEMO1.csv')

In [32]:
df2 = pd.read_csv('test/test.csv')

In [30]:
len(df2)

80000

In [28]:
len(df1)

32674

In [33]:
df1.text.map(len).max()

16

In [35]:
df1.text.map(len).sum()/len(df1)

4.346789496235539

In [54]:
print(len(df1[df1.emotion==0]), len(df1[df1.emotion==1]), len(df1[df1.emotion==2]))

25115 3203 4356

In [52]:
df1.sample(frac = 1)

       emotion      text content
5552         0       求下树      []
27774        1  ZERO确实舒服  ['舒服']
32621        0       淡定。      []
4647         0     拿证三年了      []
4225         0     我以为小贝      []
...        ...       ...     ...
28854        0      你说是吧      []
5453         2     死刑，二吧   ['二']
25585        0       卡牌？      []
3226         0       太溜了      []
616          0     Man男人      []

[32674 rows x 3 columns]

In [55]:
print(len(df2[df2.emotion==0]), len(df2[df2.emotion==1]), len(df2[df2.emotion==2]))

40000 20000 20000

In [62]:
df2.sample(frac = 1)

       emotion                    content
21222        0                     车程查询广州
45997        0                        月半弯
49559        0                    达州到南充南充
67741        2                      合作你妈逼
9430         1  你好麻烦问下旗舰版Xplay5什么时候开始发售谢谢
...        ...                        ...
5652         1                      米有了谢谢
11542        1                      小E晚上好
7034         1                 嗯这个月可以打就OK
21884        0                  我的卡是4G套餐吗
40526        0              我这帐户能自动转入天天发吗

[80000 rows x 2 columns]

In [39]:
df2.content.map(len).max()

238

In [56]:
df2.content.map(len).sum()/len(df2)

11.017925

In [4]:
df[df.emotion==0].sample(frac=0.5).reset_index(drop=True)

       emotion     text content
0            0   能破10E吗      []
1            0     @本拿比      []
2            0    行，大哥好      []
3            0      包龙星      []
4            0   @禁区前沿m      []
...        ...      ...     ...
12553        0  gtx760？      []
12554        0     毕竟三桶      []
12555        0    卧底机器人      []
12556        0    @爱蛇人士      []
12557        0      三月泡      []

[12558 rows x 3 columns]

In [25]:
df[df.emotion==1]

       emotion     text   content
13           1    还没打击到  ['没打击到']
20           1    忍者号最牛    ['最牛']
24           1   不错的YY贴    ['不错']
28           1    天公公吉祥    ['吉祥']
30           1    天天开心哦    ['开心']
...        ...      ...       ...
22576        1      很积极    ['积极']
22581        1    副总统乐了    ['乐了']
22583        1  11赔8也很高     ['高']
22592        1     后排膜拜    ['膜拜']
22614        1    这个可以抢    ['可以']

[3203 rows x 3 columns]

In [26]:
df[df.emotion==2]

       emotion   text   content
4            2   心疼我抬    ['心疼']
6            2  感觉不好耍   ['不好耍']
10           2  三炮，干！  ['三炮，干']
14           2  毫无征兆的  ['毫无征兆']
18           2  呵呵打他呀    ['呵呵']
...        ...    ...       ...
22611        2   娜真垃圾   ['真垃圾']
22613        2   土鳖你好    ['土鳖']
22625        2    真不值   ['真不值']
22626        2   巴傻二逼  ['巴傻二逼']
22627        2   雷的一滚  ['雷的一滚']

[4356 rows x 3 columns]

In [19]:
df = pd.concat([df[df.emotion==0].sample(frac=1).reset_index(drop=True), df[df.emotion==1], df[df.emotion==2]], ignore_index=True)

In [20]:
print(df.iloc[:10])

   emotion     text content
0        0      做亲家      []
1        0       山东      []
2        0      但能开      []
3        0     求出处。      []
4        0      不稳定      []
5        0  贝克汉姆...      []
6        0      男人w      []
7        0     浙江⋯我      []
8        0     id就是      []
9        0    去百度看看      []

In [21]:
# random shuffle
df = df.sample(frac=1).reset_index(drop=True)
print(df.iloc[:10])

   emotion     text   content
0        0      俞觉敏        []
1        0    准备官宣啊        []
2        0    小贾吓坏了        []
3        2    这不好看吧   ['不好看']
4        0     明显皇马        []
5        0       困了        []
6        0    也可以啊！        []
7        0    24谁拿的        []
8        2    卡…不是口     ['卡']
9        2  看不下去...  ['看不下去']

In [22]:
length = df.shape[0]
train_size = math.floor(length*0.7)
dev_size = math.floor(length*0.8)

In [23]:
# split
train_df = df.iloc[:train_size]
dev_df = df.iloc[train_size:dev_size]
test_df = df.iloc[dev_size:]

In [24]:
print(len(train_df[train_df.emotion==0]), len(train_df[train_df.emotion==1]), len(train_df[train_df.emotion==2]))

17573 2273 3025

In [25]:
train_df.to_csv('train.csv', sep=',', index=False)
dev_df.to_csv('dev.csv', sep=',', index=False)
test_df.to_csv('test.csv', sep=',', index=False)

In [15]:
df = pd.read_csv('sentiment-new.txt', sep='\t',header = None, names=['emotion','content'])

In [16]:
df['emotion'] = df['emotion'].map(lambda x:emotion_dict[x[9:]])

In [17]:
df.iloc[:10]

   emotion              content
0        1       我的身份证为什么不能在网上买
1        1      那现在有没有什么好的套餐推荐啊
2        1        我那天定了火车票退票成功了
3        1  两个满意评10分1314送的和100M
4        1             好像还有很多流量
5        1                我会考取你
6        1                雨夜的良慢
7        1             潮州特惠200M
8        1         流量包送10元话费优惠券
9        1                好的能谅解

In [18]:
df.to_csv('test/test.csv', sep=',', index=False)

In [44]:
df = pd.read_csv('car_train.csv')

In [45]:
df

,content_id,content,subject,sentiment_value,sentiment_word
0,vUXizsqexyZVRdFH,因为森林人即将换代，这套系统没必要装在一款即将换代的车型上，因为肯定会影响价格。,价格,0,影响
1,4QroPd9hNfnCHVt7,四驱价格貌似挺高的，高的可以看齐XC60了，看实车前脸有点违和感。不过大众的车应该不会差。,价格,-1,高
2,QmqJ2AvM5GplaRyz,斯柯达要说质量，似乎比大众要好一点，价格也低一些，用料完全一样。我听说过野帝，但没听说过你说...,价格,1,低
3,KMT1gFJiU4NWrVDn,这玩意都是给有钱任性又不懂车的土豪用的，这价格换一次我妹夫EP020可以换三锅了,价格,-1,有钱任性
4,nVIlGd5yMmc37t1o,17价格忒高，估计也就是14-15左右。,价格,-1,高
...,...,...,...,...,...
9942,VywQTI4iLuzd1DZ3,老铁没毛病...双击666！！！是不是这样？我这理解逻辑也挑不出毛病吧！你不矫情你试试？多大...,外观,1,NaN
9943,Ufv6VpyNaGnShzlJ,2.0时尚，四川这段时间温度最低-1，基本上下班用，现在均速18，表显油耗9.2,油耗,0,NaN
9944,S8tmC0gxyBjzvLuN,相貌不起眼，内饰太平淡，开起来才知道好,内饰,-1,NaN
9945,vpaS3ueRQi2rhAgH,一看就知道山寨的！用的肯定是中控的普通视频输入接口而已，这种无屏的记录仪淘宝也就一两百块的东...,配置,-1,NaN
9946,5R0ZoOdv8H2MNGgt,楼主还在吗，同在上海，想咨询一下家用首辆车，到底是买森林人还是力狮好？如果森林人，2.0的动...,动力,0,NaN

In [48]:
df.drop(['content_id','subject'], axis=1, inplace=True)
df

,content,sentiment_value,sentiment_word
0,因为森林人即将换代，这套系统没必要装在一款即将换代的车型上，因为肯定会影响价格。,0,影响
1,四驱价格貌似挺高的，高的可以看齐XC60了，看实车前脸有点违和感。不过大众的车应该不会差。,-1,高
2,斯柯达要说质量，似乎比大众要好一点，价格也低一些，用料完全一样。我听说过野帝，但没听说过你说...,1,低
3,这玩意都是给有钱任性又不懂车的土豪用的，这价格换一次我妹夫EP020可以换三锅了,-1,有钱任性
4,17价格忒高，估计也就是14-15左右。,-1,高
...,...,...,...
9942,老铁没毛病...双击666！！！是不是这样？我这理解逻辑也挑不出毛病吧！你不矫情你试试？多大...,1,NaN
9943,2.0时尚，四川这段时间温度最低-1，基本上下班用，现在均速18，表显油耗9.2,0,NaN
9944,相貌不起眼，内饰太平淡，开起来才知道好,-1,NaN
9945,一看就知道山寨的！用的肯定是中控的普通视频输入接口而已，这种无屏的记录仪淘宝也就一两百块的东...,-1,NaN
9946,楼主还在吗，同在上海，想咨询一下家用首辆车，到底是买森林人还是力狮好？如果森林人，2.0的动...,0,NaN

In [50]:
df.sentiment_value = df.sentiment_value.map({0:0,1:1,-1:2})

In [51]:
df

,content,sentiment_value,sentiment_word
0,因为森林人即将换代，这套系统没必要装在一款即将换代的车型上，因为肯定会影响价格。,0,影响
1,四驱价格貌似挺高的，高的可以看齐XC60了，看实车前脸有点违和感。不过大众的车应该不会差。,2,高
2,斯柯达要说质量，似乎比大众要好一点，价格也低一些，用料完全一样。我听说过野帝，但没听说过你说...,1,低
3,这玩意都是给有钱任性又不懂车的土豪用的，这价格换一次我妹夫EP020可以换三锅了,2,有钱任性
4,17价格忒高，估计也就是14-15左右。,2,高
...,...,...,...
9942,老铁没毛病...双击666！！！是不是这样？我这理解逻辑也挑不出毛病吧！你不矫情你试试？多大...,1,NaN
9943,2.0时尚，四川这段时间温度最低-1，基本上下班用，现在均速18，表显油耗9.2,0,NaN
9944,相貌不起眼，内饰太平淡，开起来才知道好,2,NaN
9945,一看就知道山寨的！用的肯定是中控的普通视频输入接口而已，这种无屏的记录仪淘宝也就一两百块的东...,2,NaN
9946,楼主还在吗，同在上海，想咨询一下家用首辆车，到底是买森林人还是力狮好？如果森林人，2.0的动...,0,NaN

In [56]:
df = df[['sentiment_value','content','sentiment_word']]

In [57]:
df = df.sample(frac=1).reset_index(drop=True)
length = df.shape[0]
train_size = math.floor(length*0.6)
dev_size = math.floor(length*0.8)

In [61]:
# split
train_df = df.iloc[:train_size]
dev_df = df.iloc[train_size:dev_size]
test_df = df.iloc[dev_size:]

In [62]:
train_df.to_csv('car/train.csv', sep=',', index=False)
dev_df.to_csv('car/dev.csv', sep=',', index=False)
test_df.to_csv('car/test.csv', sep=',', index=False)

In [64]:
len('分享一下个人感受：也是2.5车型，目前里程3万，99%上海市区高架拥堵路程，全里程平均时速21km/h。经常在交通拥堵高峰期间使用S档，每箱满油实际行驶里程和相同路况下使用I档几乎无甚区别，但是动力响应更好，跟车平顺，乘客舒适。目前使用小熊油耗APP记录的25000公里总平均油耗为12.1L/100km，针对全里程平均时速只有21km/h的路况，对此油耗水平已经很满意。,油耗水平已经很满意')

196

In [59]:
df[df.sentiment_value==0]

,sentiment_value,content,sentiment_word
0,0,很常规的东西，贴膜，脚垫，底盘护甲和装甲，还有镀膜，但是听说镀膜对新车车漆不好，所以没做,NaN
3,0,13款森林人能用？价格多少,NaN
4,0,这个变速箱有哪里买的，是斯巴鲁原车哦。链条CVT专用哈,NaN
5,0,刚提2.5优惠1.1万，我也想知道哪里优惠那么多,NaN
6,0,还好车身没有压上去………………,NaN
...,...,...,...
9940,0,五千公里首保是免费的，去吧，不去白不去，过了以后自行选择了，去4S店只要按照保养手册来保养，...,NaN
9941,0,我的同款现在6万公里多点，今年检车尾气不合格。,NaN
9943,0,有木有刮花的，想要，价格,NaN
9945,0,担心什么，大众车烧机油那么严重，还不是那么多人买，别人怎么就不担心？,NaN
9946,0,他们给我说不叫破线。。。。就是划破了一根线，然后搭了上去。我觉着是倒车信号线。如果不要倒车影...,NaN

In [60]:
df[df.sentiment_value==1]

,sentiment_value,content,sentiment_word
10,1,基本够用，满载跑山急加入短距离超车100以上再加速费点劲,够用
29,1,1、怎么说呢，高速时方向盘重绝对是优点。如果太轻的话稍有不慎就会出现转向过度的情况，试想一下...,优点
45,1,我个人比较讲究操控，所以肯定是选森林人。看楼主说主要是省心，所以个人比较推荐奇骏。,肯定
47,1,城市拥堵路况，昂科威1.5T会省油一点，内饰、舒适度也是昂科威的强项，但是它的精华款是2.0...,省油
55,1,跟同级别那几个四驱车比的话森林人四驱性能还是不错的，操控性也不错,不错
...,...,...,...
9918,1,后备箱大，全时四驱和日本进口。就这几点。自己在日本呆了四年，觉着日本造是精细的代名词，前一辆...,NaN
9922,1,不开空调，屁股流水，也正常，据说是燃烧充分，发动机性能强,性能强
9928,1,我的也这样，换刹车片后消失,NaN
9936,1,更新一下使用感受：1，换挡积极一点了，油门也显得轻快！平顺些2，D档等红绿灯时，踩刹车车没以...,NaN
9942,1,肯定等新款，这马上换代了，外观大改，内饰大改，四驱系统升级，发动机升级，听说还有小排量涡轮，...,大改